body {
        background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
}
.contenido {
  position: relative;
  z-index: 2;
  color: #00ff80;
  text-align: center;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.conteiner {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        width: 90%;
        max-width: 500px;
        text-align: center;
}
.contenido h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #00ff80;
}

/* Enlaces estilo lista */
.contenido a {
  display: block;
  background: #00ff80;
  color: #1e3c72;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hover */
.contenido a:hover {
  background: #ffda79;
  color: #000;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); /* Fondo negro con 30% de transparencia */
  color: white;
  text-align: center;
  padding: 15px 0;
  backdrop-filter: blur(5px); /* Efecto vidrio */
}
